[Unit]
Description=Rancher Kubernetes Engine (RKE2) Server
After=network.target

[Service]
Type=simple
WorkingDirectory=/etc/rancher/rke2
ExecStart=/usr/bin/rke2 server
Restart=always
{% if http_proxy != "" %}
Environment="HTTP_PROXY={{ http_proxy }}"
Environment="HTTPS_PROXY={{ http_proxy }}"
Environment="NO_PROXY={{ no_proxy }}"
Environment="CONTAINERD_HTTP_PROXY={{ http_proxy }}"
Environment="CONTAINERD_HTTPS_PROXY={{ http_proxy }}"
Environment="CONTAINERD_NO_PROXY={{ no_proxy }}"
{% endif %}

[Install]
WantedBy=multi-user.target
